
.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 50px;
}


.about-image img {
  width:25rem;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}


.about-text {
  max-width: 60rem;
  height: auto;
  margin-left: 15px;
}

.about-text h1 {
  font-size: 64px;
  margin-bottom: 20px;
  color:#d3d3d3;
}

.about-text p {
  font-size: 20px;
  line-height: 1.6;
  color: #d3d3d3;
  text-align: justify;
}


.social-icons {
  margin-top: 20px;
  
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }
  
  .about-image img {
    width: 180px;
    margin-bottom: 20px;
  }

  .about-text {
    margin-left: 0;
  }
}
